# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local data
data/

# Logs
*.log

# IDE
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/